@mixin center-flex($inline: false) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

@mixin circle($d) {
  width: $d;
  height: $d;
  border-radius: 50%;
}

@mixin horizontal-line($color, $height: 1px, $opacity: 1, $x: 0px, $y: 0px) {
  content: '';
  display: block;
  height: $height;
  background-color: $color;
  opacity: $opacity;
  transform: translate($x, $y);
}

@mixin inset-outline($color, $width: 1px) {
  box-shadow: inset 0 0 0 $width $color;
}

@mixin icon($url, $size: 24px) {
  content: url($url);
  display: block;
  width: $size;
  height: $size;
}

// COLOR
$color-primary-900: #1d1178;
$color-primary-800: #2d1d92;
$color-primary-700: #432eb5;
$color-primary-600: #5e43d8;
$color-primary-500: #7c5cfc;
$color-primary-400: #9f84fd;
$color-primary-300: #b49dfe;
$color-primary-200: #cebefe;
$color-primary-100: #e7defe;
$color-primary-0: #ffffff;

$color-succsess-900: #3b6506;
$color-succsess-800: #4c7a0b;
$color-succsess-700: #659711;
$color-succsess-600: #7fb519;
$color-succsess-500: #9cd323;
$color-succsess-400: #bce455;
$color-succsess-300: #d3f178;
$color-succsess-200: #e8faa6;
$color-succsess-100: #f5fcd2;

$color-error-900: #7a0619;
$color-error-800: #930b16;
$color-error-700: #b71112;
$color-error-600: #db2719;
$color-error-500: #ff4423;
$color-error-400: #ff7f59;
$color-error-300: #ffa37a;
$color-error-200: #ffc8a6;
$color-error-100: #ffe7d3;

$color-warning-900: #7a4d0b;
$color-warning-800: #936312;
$color-warning-700: #b7821d;
$color-warning-600: #dba32a;
$color-warning-500: #ffc73a;
$color-warning-400: #ffd96b;
$color-warning-300: #ffe488;
$color-warning-200: #ffefb0;
$color-warning-100: #fff8d7;

$color-information-900: #102e7a;
$color-information-800: #1a4393;
$color-information-700: #2a60b7;
$color-information-600: #3d81db;
$color-information-500: #54a6ff;
$color-information-400: #7ec2ff;
$color-information-300: #98d3ff;
$color-information-200: #bae5ff;
$color-information-100: #dcf3ff;

$color-secondary-900: #040815;
$color-secondary-800: #080c19;
$color-secondary-700: #0d121f;
$color-secondary-600: #131825;
$color-secondary-500: #1a202c;
$color-secondary-400: #596780;
$color-secondary-300: #90a3bf;
$color-secondary-200: #c3d4e9;
$color-secondary-100: #e0e9f4;

// TYPOGRAPHY
$line-height-basic: 1.5;
$line-height-auto: normal;

$font-family: 'Plus Jakarta Sans', sans-serif;

$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-3xl: 2rem; /* 32px */
$text-4xl: 2.25rem; /* 36px */
$text-5xl: 2.5rem; /* 40px */
$text-6xl: 4.5rem; /* 72px */

$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

// SPACING
$spacing-xs: 0.25rem; /* 4px */
$spacing-sm: 0.5rem; /* 8px */
$spacing-md: 0.75rem; /* 12px */
$spacing-lg: 0.875rem; /* 14px */
$spacing-xl: 1rem; /* 16px */
$spacing-2xl: 1.125rem; /* 18px */
$spacing-3xl: 1.25rem; /* 20px */
$spacing-4xl: 1.5rem; /* 24px */
$spacing-5xl: 2rem; /* 32px */
$spacing-6xl: 2.5rem; /* 40px */
$spacing-7xl: 3rem; /* 48px */
$spacing-8xl: 4rem; /* 64px */

$breakpoint: 375px;

:root {
  --light-text: #{$color-secondary-400};
  --dark-text: #{$color-secondary-900};
}

body {
  font-family: $font-family;
  font-size: $text-base;

  line-height: $line-height-basic;
}

img {
  max-width: 100%;
}

.how-it-works {
  --max-width: 235px;
  --title-text-size: #{$text-sm};

  @media (min-width: $breakpoint) {
    --max-width: 200px;
    --title-text-size: #{$text-xl};
  }

  //* temporary
  margin-left: 100px;
  margin-top: 100px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-4xl;

  max-width: var(--max-width);

  &__title {
    font-size: var(--title-font-size);
    font-weight: $text-medium;
    text-align: center;
    color: $color-primary-0;
  }
  &__image {
    order: -1;
  }
  &__number {
    @include circle(48px);
    @include center-flex;

    position: absolute;
    top: 0;
    left: 0;

    font-weight: $text-semibold;
    font-size: $spacing-4xl;

    outline: 6px solid $color-secondary-700;
    background-color: $color-primary-500;
    color: $color-primary-0;

    transform: translate(-50%, -50%);
  }
}

.benefit {
  --title-font-size: #{$text-lg};
  --description-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --title-font-size: #{$text-2xl};
    --description-font-size: #{$text-base};
  }

  display: flex;
  flex-direction: column;
  max-width: 384px;

  &__title {
    font-size: var(--title-font-size);
    font-weight: $text-semibold;
    margin-bottom: $spacing-md;
  }
  &__description {
    font-size: var(--description-font-size);
  }
  &__image {
    order: -1;
    margin-bottom: $spacing-4xl;
  }
}

.pricing-plan {
  --pricingPlan-padding: #{$spacing-4xl};
  --pricingPlan-border-radius: 10px;
  --title-gap: #{$spacing-sm};
  --titleIcon-size: 24px;
  --titleText-font-size: #{$text-2xl};
  --description-font-size: #{$text-sm};
  --amount-font-size: #{$text-3xl};
  --period-font-size: #{$text-sm};
  --details-font-size: #{$text-sm};
  --details-margin-bottom: #{$spacing-4xl};
  --feature-icon-size: 20px;
  --feature-font-size: #{$text-sm};
  --feature-margin-bottom: #{$spacing-2xl};

  @media (min-width: $breakpoint) {
    --pricingPlan-padding: #{$spacing-5xl};
    --pricingPlan-border-radius: 12px;
    --title-gap: #{$spacing-md};
    --titleIcon-size: 32px;
    --titleText-font-size: #{$text-3xl};
    --description-font-size: #{$text-base};
    --amount-font-size: #{$text-5xl};
    --period-font-size: #{$text-lg};
    --details-font-size: #{$text-base};
    --details-margin-bottom: #{$spacing-5xl};
    --feature-icon-size: 24px;
    --feature-font-size: #{$text-lg};
    --feature-margin-bottom: #{$spacing-4xl};
  }

  max-width: 384px;
  padding: var(--pricingPlan-padding);
  border-radius: var(--pricingPlan-border-radius);

  background-color: $color-secondary-100;

  &__title {
    display: flex;
    gap: var(--title-gap);
    align-items: center;

    margin-bottom: $spacing-md;

    &-icon {
      width: var(--titleIcon-size);
      height: var(--titleIcon-size);
      fill: $color-primary-500;
    }
    &-text {
      font-size: var(--titleText-font-size);
      font-weight: $text-semibold;
      color: $color-secondary-700;
    }
  }
  &__description {
    margin-bottom: $spacing-4xl;

    font-size: var(--description-font-size);
    color: $color-secondary-400;
  }

  &__price {
    margin-bottom: $spacing-4xl;
  }
  &__amount {
    font-size: var(--amount-font-size);
    font-weight: $text-semibold;
    color: $color-secondary-700;
  }
  &__period {
    font-size: var(--period-font-size);
    font-weight: $text-medium;
    color: $color-secondary-400;
  }

  &__details {
    margin-bottom: var(--details-margin-bottom);
    font-size: var(--details-font-size);
    color: $color-secondary-500;
  }

  &__features-list {
    margin-bottom: $spacing-6xl;

    font-size: var(--feature-font-size);
    font-weight: $text-medium;
    color: $color-secondary-700;
  }
  &__feature {
    display: flex;
    gap: $spacing-md;
    margin-bottom: var(--feature-margin-bottom);

    &::before {
      @include icon('../img/icon/tick-circle.svg', var(--feature-icon-size));
    }

    &--disabled {
      color: $color-secondary-400;

      &::before {
        @include icon('../img/icon/close-circle.svg', var(--feature-icon-size));
      }
    }
  }

  &__button {
    width: 100%;
  }
}

.testimonial {
  --testimonial-padding: #{$spacing-3xl};
  --heading-margin-bottom: #{$spacing-3xl};
  --heading-font-size: #{$text-base};
  --body-margin-bottom: #{$spacing-7xl};
  --authorName-font-size: #{$text-base};
  --authorDescription-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --testimonial-padding: #{$spacing-4xl};
    --heading-margin-bottom: #{$spacing-xl};
    --heading-font-size: #{$text-lg};
    --body-margin-bottom: #{$spacing-7xl};
    --authorName-font-size: #{$text-lg};
    --authorDescription-font-size: #{$text-sm};
  }

  max-width: 384px;
  padding: var(--testimonial-padding);
  border-radius: 12px;

  background-color: $color-secondary-500;
  color: $color-secondary-100;

  &__heading {
    margin-bottom: var(--heading-margin-bottom);
    font-size: var(--heading-font-size);
    font-weight: $text-semibold;
    color: $color-primary-0;
  }

  &__body {
    margin-bottom: var(--body-margin-bottom);
    font-weight: $text-medium;

    &::after {
      @include horizontal-line(
        $color-secondary-300,
        $opacity: 0.2,
        $y: $spacing-3xl
      );
    }
  }

  &__author {
    &-name {
      font-size: var(--authorName-font-size);
      font-weight: $text-bold;
    }
    &-description {
      font-size: var(--authorDescription-font-size);
    }
  }
}

.toggle-switch {
  width: 70px;
  height: 36px;
  padding: $spacing-xs;
  border-radius: 30px;

  background-color: $color-primary-500;
  cursor: pointer;

  & * {
    display: none;
  }

  &::before {
    @include circle(28px);
    content: '';
    display: block;
    background-color: $color-primary-0;
  }
}

.toggle-with-buttons {
  display: inline-flex;

  padding: 2px;
  border-radius: 30px;

  background-color: $color-secondary-100;
}

.toggle-button {
  font-weight: $text-semibold;

  &:not(&--active) {
    background-color: inherit;
    color: $color-secondary-300;
  }
}

.btn {
  --btn-width: 100%;

  @media (min-width: $breakpoint) {
    --btn-width: auto;
  }

  @include center-flex(true);

  width: var(--btn-width);
  gap: $spacing-sm;
  border-radius: 60px;
  color: $color-primary-0;
  background-color: $color-primary-500;

  &--icon {
    padding: $spacing-sm;
  }

  // SIZE
  &--sm {
    padding: $spacing-xs $spacing-xl;
    font-size: $text-xs;
  }
  &--md {
    padding: $spacing-sm $spacing-xl;
    font-size: $text-xs;
  }
  &--lg {
    padding: $spacing-lg $spacing-4xl;
    font-size: $text-base;
  }
  &--xl {
    padding: $spacing-lg $spacing-5xl;
    font-size: $text-base;
  }

  // TYPE
  &--primary {
    &:focus {
      @include inset-outline($color-primary-200);
    }
    &:hover {
      background-color: $color-primary-600;
    }
    &:active {
      background-color: $color-primary-700;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
  &--secondary {
    @include inset-outline($color-secondary-200);
    background-color: $color-primary-0;
    color: $color-secondary-500;

    &:focus {
      @include inset-outline($color-secondary-100);
    }
    &:hover {
      @include inset-outline($color-secondary-400);
    }
    &:active {
      @include inset-outline($color-secondary-200);
      background-color: $color-secondary-100;
    }
    &:disabled {
      @include inset-outline($color-secondary-100);
      color: $color-secondary-400;
    }
  }
  &--minimal {
    background-color: transparent;
    color: $color-secondary-300;

    &:focus {
      @include inset-outline($color-secondary-300);
      color: $color-secondary-500;
    }
    &:hover {
      background-color: $color-primary-0;
      color: $color-secondary-500;
    }
    &:active {
      background-color: $color-secondary-100;
      color: $color-secondary-500;
    }
    &:disabled {
      color: $color-secondary-400;
    }
  }
}
