@mixin hidden($accessible: true) {
  @if $accessible {
    position: absolute;
    visibility: hidden;
  } @else {
    display: none;
  }
}

@mixin center-flex($inline: false) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  justify-content: center;
}

@mixin square($length) {
  width: $length;
  height: $length;
}

@mixin circle($d) {
  width: $d;
  height: $d;
  border-radius: 50%;
}

@mixin horizontal-line($color, $height: 1px, $opacity: 1, $x: 0px, $y: 0px) {
  content: '';
  position: absolute;
  top: $y;
  left: $x;
  right: 0;
  transform: translateY(-100%);
  display: block;
  height: $height;
  background-color: $color;
  opacity: $opacity;
}

@mixin inset-outline($color, $width: 1px) {
  box-shadow: inset 0 0 0 $width $color;
}

@mixin icon($url, $size: 24px) {
  content: url($url);
  display: block;
  width: $size;
  height: $size;
  flex: 0 0 auto;
}

// COLOR
$color-primary-900: #1d1178;
$color-primary-800: #2d1d92;
$color-primary-700: #432eb5;
$color-primary-600: #5e43d8;
$color-primary-500: #7c5cfc;
$color-primary-400: #9f84fd;
$color-primary-300: #b49dfe;
$color-primary-200: #cebefe;
$color-primary-100: #e7defe;
$color-primary-0: #ffffff;

$color-succsess-900: #3b6506;
$color-succsess-800: #4c7a0b;
$color-succsess-700: #659711;
$color-succsess-600: #7fb519;
$color-succsess-500: #9cd323;
$color-succsess-400: #bce455;
$color-succsess-300: #d3f178;
$color-succsess-200: #e8faa6;
$color-succsess-100: #f5fcd2;

$color-error-900: #7a0619;
$color-error-800: #930b16;
$color-error-700: #b71112;
$color-error-600: #db2719;
$color-error-500: #ff4423;
$color-error-400: #ff7f59;
$color-error-300: #ffa37a;
$color-error-200: #ffc8a6;
$color-error-100: #ffe7d3;

$color-warning-900: #7a4d0b;
$color-warning-800: #936312;
$color-warning-700: #b7821d;
$color-warning-600: #dba32a;
$color-warning-500: #ffc73a;
$color-warning-400: #ffd96b;
$color-warning-300: #ffe488;
$color-warning-200: #ffefb0;
$color-warning-100: #fff8d7;

$color-information-900: #102e7a;
$color-information-800: #1a4393;
$color-information-700: #2a60b7;
$color-information-600: #3d81db;
$color-information-500: #54a6ff;
$color-information-400: #7ec2ff;
$color-information-300: #98d3ff;
$color-information-200: #bae5ff;
$color-information-100: #dcf3ff;

$color-secondary-900: #040815;
$color-secondary-800: #080c19;
$color-secondary-700: #0d121f;
$color-secondary-600: #131825;
$color-secondary-500: #1a202c;
$color-secondary-400: #596780;
$color-secondary-300: #90a3bf;
$color-secondary-200: #c3d4e9;
$color-secondary-100: #e0e9f4;

// TYPOGRAPHY
$line-height-basic: 1.5;
$line-height-auto: normal;

$font-family: 'Plus Jakarta Sans', sans-serif;

$text-xs: 0.75rem; /* 12px */
$text-sm: 0.875rem; /* 14px */
$text-base: 1rem; /* 16px */
$text-lg: 1.125rem; /* 18px */
$text-xl: 1.25rem; /* 20px */
$text-2xl: 1.5rem; /* 24px */
$text-3xl: 2rem; /* 32px */
$text-4xl: 2.25rem; /* 36px */
$text-5xl: 2.5rem; /* 40px */
$text-6xl: 4.5rem; /* 72px */

$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

// TODO: replace with Tailwind's spacing system
// SPACING
// 1 = 0.125rem = 2px
$spacing-3: 0.375rem; /* 6px */
$spacing-36: 4.5rem; /* 72px */
$spacing-48: 6rem; /* 96px */

$spacing-xs: 0.25rem; /* 4px */
$spacing-sm: 0.5rem; /* 8px */
$spacing-md: 0.75rem; /* 12px */
$spacing-lg: 0.875rem; /* 14px */
$spacing-xl: 1rem; /* 16px */
$spacing-2xl: 1.125rem; /* 18px */
$spacing-3xl: 1.25rem; /* 20px */
$spacing-4xl: 1.5rem; /* 24px */

// TODO change the property's name to fit the system
$spacing-4\.5xl: 1.75rem; /* 28px */

$spacing-5xl: 2rem; /* 32px */
$spacing-6xl: 2.5rem; /* 40px */
$spacing-7xl: 3rem; /* 48px */
$spacing-8xl: 3.5rem; /* 56px */
$spacing-9xl: 4rem; /* 64px */
$spacing-10xl: 5rem; /* 80px */
$spacing-11xl: 7.5rem; /* 120px */

$breakpoint: 640px;
$breakpoint-md: 1024px;

$bp-640: 640px;
$bp-768: 768px;
$bp-1024: 1024px;
$bp-1280: 1280px;
$bp-1440: 1440px;

$testimonialCard-max-width: 384px;

$order-first: -1;
$order-last: 99;

:root {
  // light - less contrasting colors
  // dark - higher contrasting colors
  --light-text: #{$color-secondary-400};
  --dark-text: #{$color-secondary-900};

  --light-bg: #{$color-primary-0};
  --dark-bg: #{$color-secondary-700};
}

.hidden {
  display: none;
}
.accessible-hidden {
  position: absolute;
  visibility: hidden;
}

body {
  --body-font-size: #{$text-sm};

  @media (min-width: $breakpoint) {
    --body-font-size: #{$text-xl};
  }

  font-family: $font-family;
  font-size: var(--body-font-size);

  line-height: $line-height-basic;
}

// TODO use another selector to handle the rule
body > main > * {
  padding: $spacing-5xl $spacing-4\.5xl;

  // TODO move the query selector to the place where all query selectors are handled
  @media (min-width: $bp-640) {
    padding: $spacing-9xl;
  }
  @media (min-width: $bp-1024) {
    padding: $spacing-10xl;
  }
  @media (min-width: $bp-1440) {
    padding: $spacing-11xl;
  }

  background-color: var(--light-bg);

  color: var(--light-text);
}

// TODO use another selector to handle the rule
body > main > :nth-child(odd) {
  --light-text: #{$color-secondary-300};
  --dark-text: #{$color-primary-0};

  // TODO think if it's better to set bg color on children elements and then change the global prop here
  background-color: var(--dark-bg);
}

img {
  max-width: 100%;
}

.heading-primary {
  --headingPrimary-font-size: #{$text-4xl};

  @media (min-width: $breakpoint) {
    --headingPrimary-font-size: #{$text-6xl};
  }

  font-size: var(--headingPrimary-font-size);
  color: var(--dark-text);
  font-weight: $text-bold;
}
.heading-secondary {
  --headingSecondary-font-size: #{$text-2xl};

  @media (min-width: $breakpoint) {
    --headingSecondary-font-size: #{$text-5xl};
  }

  font-size: var(--headingSecondary-font-size);
  color: var(--dark-text);
  font-weight: $text-bold;
}
.heading-tertiary {
  --headingTertiary-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --headingTertiary-font-size: #{$text-xl};
  }

  font-size: var(--headingTertiary-font-size);
  font-weight: $text-semibold;
  color: $color-primary-500;
  text-transform: uppercase;
}

.btn {
  --btn-width: 100%;

  @media (min-width: $breakpoint) {
    --btn-width: auto;
  }

  @include center-flex(true);

  gap: $spacing-sm;

  width: var(--btn-width);
  border-radius: 60px;

  font-weight: $text-semibold;

  color: $color-primary-0;
  background-color: $color-primary-500;

  cursor: pointer;

  // SIZE
  &--sm {
    padding: $spacing-xs $spacing-xl;
    font-size: $text-xs;

    svg {
      @include square(12px);
    }
  }
  &--md {
    padding: $spacing-sm $spacing-xl;
    font-size: $text-xs;

    svg {
      @include square(14px);
    }
  }
  &--lg {
    padding: $spacing-lg $spacing-4xl;
    font-size: $text-base;

    svg {
      @include square(18px);
    }
  }

  // TYPE
  &--primary {
    &:focus {
      @include inset-outline($color-primary-200);
    }
    &:hover {
      background-color: $color-primary-600;
    }
    &:active {
      background-color: $color-primary-700;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
  &--secondary {
    @include inset-outline($color-secondary-200);
    background-color: $color-primary-0;
    color: $color-secondary-500;

    &:focus {
      @include inset-outline($color-secondary-100);
    }
    &:hover {
      @include inset-outline($color-secondary-400);
    }
    &:active {
      @include inset-outline($color-secondary-200);
      background-color: $color-secondary-100;
    }
    &:disabled {
      @include inset-outline($color-secondary-100);
      color: $color-secondary-400;
    }
  }
  &--minimal {
    background-color: transparent;
    color: $color-secondary-300;

    &:focus {
      @include inset-outline($color-secondary-300);
      color: $color-secondary-500;
    }
    &:hover {
      background-color: $color-primary-0;
      color: $color-secondary-500;
    }
    &:active {
      background-color: $color-secondary-100;
      color: $color-secondary-500;
    }
    &:disabled {
      color: $color-secondary-400;
    }
  }

  &--icon {
    padding: 0;
    border-radius: 50%;

    &.btn--sm {
      @include square(32px);

      svg {
        @include square(16px);
      }
    }

    &.btn--md {
      @include square(40px);

      svg {
        @include square(16px);
      }
    }

    &.btn--lg {
      @include square(50px);

      svg {
        @include square(18px);
      }
    }
  }
}

.how-it-works {
  --howItWorks-max-width: 235px;
  --title-text-size: #{$text-sm};

  @media (min-width: $breakpoint) {
    --title-text-size: #{$text-xl};
  }
  @media (min-width: $breakpoint-md) {
    --howItWorks-max-width: 200px;
  }

  position: relative;

  display: flex;
  flex-direction: column;
  gap: $spacing-4xl;

  max-width: var(--howItWorks-max-width);

  &__title {
    font-size: var(--title-font-size);
    font-weight: $text-medium;
    text-align: center;
    color: $color-primary-0;
  }
  &__image {
    order: -1;
  }
  &__number {
    @include circle(48px);
    @include center-flex;

    position: absolute;
    top: 0;
    left: 0;

    font-weight: $text-semibold;
    font-size: $spacing-4xl;

    outline: 6px solid $color-secondary-700;
    background-color: $color-primary-500;
    color: $color-primary-0;

    transform: translate(-50%, -50%);
  }
}

.benefit {
  --title-font-size: #{$text-lg};
  --description-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --title-font-size: #{$text-2xl};
    --description-font-size: #{$text-base};
  }

  display: flex;
  flex-direction: column;

  &__title {
    font-size: var(--title-font-size);
    font-weight: $text-semibold;
    margin-bottom: $spacing-md;
  }
  &__description {
    font-size: var(--description-font-size);
  }
  &__image {
    order: -1;
    margin-bottom: $spacing-4xl;
  }
}

.pricing-plan {
  --pricingPlan-padding: #{$spacing-4xl};
  --pricingPlan-border-radius: 10px;
  --title-gap: #{$spacing-sm};
  --titleIcon-size: 24px;
  --titleText-font-size: #{$text-2xl};
  --description-font-size: #{$text-sm};
  --amount-font-size: #{$text-3xl};
  --period-font-size: #{$text-sm};
  --details-font-size: #{$text-sm};
  --details-margin-bottom: #{$spacing-4xl};
  --feature-icon-size: 20px;
  --feature-font-size: #{$text-sm};
  --feature-margin-bottom: #{$spacing-2xl};

  @media (min-width: $breakpoint) {
    --pricingPlan-padding: #{$spacing-5xl};
    --pricingPlan-border-radius: 12px;
    --title-gap: #{$spacing-md};
    --titleIcon-size: 32px;
    --titleText-font-size: #{$text-3xl};
    --description-font-size: #{$text-base};
    --amount-font-size: #{$text-5xl};
    --period-font-size: #{$text-lg};
    --details-font-size: #{$text-base};
    --details-margin-bottom: #{$spacing-5xl};
    --feature-icon-size: 24px;
    --feature-font-size: #{$text-lg};
    --feature-margin-bottom: #{$spacing-4xl};
  }

  max-width: 384px;
  padding: var(--pricingPlan-padding);
  border-radius: var(--pricingPlan-border-radius);

  background-color: $color-secondary-100;

  &__title {
    display: flex;
    gap: var(--title-gap);
    align-items: center;

    margin-bottom: $spacing-md;

    &-icon {
      width: var(--titleIcon-size);
      height: var(--titleIcon-size);
      fill: $color-primary-500;
    }
    &-text {
      font-size: var(--titleText-font-size);
      font-weight: $text-semibold;
      color: $color-secondary-700;
    }
  }
  &__description {
    margin-bottom: $spacing-4xl;

    font-size: var(--description-font-size);
    color: $color-secondary-400;
  }

  &__price {
    margin-bottom: $spacing-4xl;
  }
  &__amount {
    font-size: var(--amount-font-size);
    font-weight: $text-semibold;
    color: $color-secondary-700;
  }
  &__period {
    font-size: var(--period-font-size);
    font-weight: $text-medium;
    color: $color-secondary-400;
  }

  &__details {
    margin-bottom: var(--details-margin-bottom);
    font-size: var(--details-font-size);
    color: $color-secondary-500;
  }

  &__features-list {
    margin-bottom: $spacing-6xl;

    font-size: var(--feature-font-size);
    font-weight: $text-medium;
    color: $color-secondary-700;
  }
  &__feature {
    display: flex;
    gap: $spacing-md;

    &:not(:last-child) {
      margin-bottom: var(--feature-margin-bottom);
    }

    &::before {
      @include icon('../img/icon/tick-circle.svg', var(--feature-icon-size));
    }

    &--disabled {
      color: $color-secondary-400;

      &::before {
        @include icon('../img/icon/close-circle.svg', var(--feature-icon-size));
      }
    }
  }

  &__button {
    --btn-width: 100%;
  }
}

.testimonial {
  --testimonial-height: 300px;
  --testimonial-padding: #{$spacing-3xl};
  --heading-margin-bottom: #{$spacing-3xl};
  --heading-font-size: #{$text-base};
  --testimonialBody-font-size: #{$text-sm};
  --author-line-y: -#{$spacing-4xl};
  --author-gap: #{$spacing-md};
  --authorName-font-size: #{$text-base};
  --authorName-margin-bottom: #{$spacing-xs};
  --authorDescription-font-size: #{$text-xs};
  --authorImage-size: 58px;

  @media (min-width: $breakpoint) {
    --testimonial-height: 365px;
    --testimonial-padding: #{$spacing-4xl};
    --heading-margin-bottom: #{$spacing-xl};
    --heading-font-size: #{$text-lg};
    --testimonialBody-font-size: #{$text-base};
    --author-line-y: -#{$spacing-5xl};
    --author-gap: #{$spacing-4xl};
    --authorName-font-size: #{$text-lg};
    --authorName-margin-bottom: 0;
    --authorDescription-font-size: #{$text-sm};
    --authorImage-size: 70px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;

  height: var(--testimonial-height);
  max-width: $testimonialCard-max-width;
  padding: var(--testimonial-padding);
  border-radius: 12px;

  background-color: $color-secondary-500;
  color: $color-secondary-100;

  &__statement {
  }

  &__heading {
    margin-bottom: var(--heading-margin-bottom);
    font-size: var(--heading-font-size);
    font-weight: $text-semibold;
    color: $color-primary-0;
  }

  &__body {
    font-size: var(--testimonialBody-font-size);
    font-weight: $text-medium;
  }

  &__author {
    position: relative;

    display: flex;
    gap: var(--author-gap);

    &::before {
      @include horizontal-line(
        $color-secondary-300,
        $opacity: 0.2,
        $y: var(--author-line-y)
      );
    }

    &-text {
      padding-top: $spacing-xs;
    }

    &-name {
      margin-bottom: var(--authorName-margin-bottom);

      font-size: var(--authorName-font-size);
      font-weight: $text-bold;
    }

    &-description {
      font-size: var(--authorDescription-font-size);
    }

    &-image {
      order: -1;

      width: var(--authorImage-size);
      height: var(--authorImage-size);
      border-radius: 10px;
    }
  }
}

.toggle-switch-container {
  @include center-flex;
  gap: $spacing-xl;
}

.toggle-switch-text {
  font-size: $text-xl;
  font-weight: $text-semibold;
  color: #000;

  &--left {
    order: $order-first;
  }
  &--right {
    order: $order-last;
  }
}

.toggle-switch {
  width: 70px;
  height: 36px;
  padding: $spacing-xs;
  border-radius: 30px;

  background-color: $color-primary-500;
  cursor: pointer;

  & * {
    display: none;
  }

  &::before {
    @include circle(28px);
    content: '';
    display: block;
    background-color: $color-primary-0;
    transition: {
      property: margin-left transform;
      duration: 1s;
    }
  }

  &--right::before {
    margin-left: 100%;
    transform: translateX(-100%);
  }
}

.toggle-with-buttons {
  --toggle-width: 100%;

  @media (min-width: $breakpoint) {
    width: auto;
  }

  display: inline-flex;

  width: var(--toggle-width);
  padding: 2px;
  border-radius: 30px;

  background-color: $color-secondary-100;

  // TODO give a class name to the input and use it OR create a utility class for accessible hiding
  > input {
    position: absolute;
    visibility: hidden;
  }
}

.toggle-button {
  --toggleButton-padding: #{$spacing-lg} #{$spacing-xl};
  --toggleButton-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --toggleButton-padding: #{$spacing-lg} #{$spacing-5xl};
    --toggleButton-font-size: #{$text-base};
  }

  padding: var(--toggleButton-padding);
  font-size: var(--toggleButton-font-size);
  font-weight: $text-semibold;

  &:not(&--active) {
    background-color: inherit;
    color: $color-secondary-300;
  }
}

.button-demo {
  --buttonDemo-margin-bottom: #{$spacing-4xl};

  @media (min-width: $breakpoint) {
    --buttonDemo-margin-bottom: 0;

    margin-right: $spacing-xl;
  }

  margin-bottom: var(--buttonDemo-margin-bottom);
}
.button-pricing {
}

//**** CAROUSEL ****//
.carousel-container {
  position: relative;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
}

.carousel-buttons-container {
  display: flex;
  gap: $spacing-4xl;
  width: fit-content;
  margin: 0 auto;
}

.carousel-button {
  fill: none;
  stroke: $color-primary-0;
}

.carousel--transition {
  transition: transform 0.5s ease-in-out;
}
