.benefit-section {
  &__title-and-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-5xl;
  }

  &__heading-tertiary {
    // TODO add 6px spacing to the system
    margin-bottom: 6px;
  }
  &__heading-secondary {
    margin-bottom: $spacing-md;
  }

  &__description {
    margin-bottom: $spacing-5xl;
    grid-column: 2 / -1;
    max-width: 500px;
  }
}

.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-5xl;
}

.benefit-item:not(:last-child) {
  margin-bottom: $spacing-5xl;
}
