.benefit-section {
  --grid-columns: 1fr;
  --titleAndDescription-gap: #{$spacing-md};
  --titleAndDescription-margin-bottom: #{$spacing-5xl};

  @media (min-width: $breakpoint) {
    --grid-columns: repeat(3, 1fr);
    --titleAndDescription-gap: #{$spacing-5xl};
    --titleAndDescription-margin-bottom: #{$spacing-9xl};
  }

  &__title-and-description {
    display: grid;
    grid-template-columns: var(--grid-columns);
    gap: var(--titleAndDescription-gap);
    margin-bottom: var(--titleAndDescription-margin-bottom);
  }

  &__description {
    grid-column: 2 / -1;
    max-width: 520px;
  }
}

.benefits {
  display: grid;
  grid-template-columns: var(--grid-columns);
  gap: $spacing-5xl;
}
