.cta-section {
  --cta-section_padding-bottom: 372px;
  --header_max-width: none;
  --header_margin-bottom: 0;
  --description_max-width: var(--header_max-width);
  --image_left: #{$spacing-14};
  --image_max-height: none;

  @media (min-width: $bp-640) {
    --header_margin-bottom: #{$spacing-12};
    --image_left: #{$spacing-32};
  }
  @media (min-width: $bp-768) {
    // TODO find out the math and change
    --cta-section_padding-bottom: 500px;
  }
  @media (min-width: $bp-1024) {
    --cta-section_padding-bottom: #{$spacing-40}; // default
    --header_max-width: 570px;
    --image_left: 65vw;
    --image_max-height: calc(100% - $spacing-40);
  }
  @media (min-width: $bp-1440) {
    --cta-section_padding-bottom: #{$spacing-60}; // default
    --image_left: 51vw;
  }

  overflow: hidden;
  position: relative;
  padding-bottom: var(--cta-section_padding-bottom);

  &__header {
    margin-bottom: var(--header_margin-bottom);
    max-width: var(--header_max-width);
  }

  &__description {
    max-width: var(--description_max-width);
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: var(--image_left);
    max-height: var(--image_max-height);
    max-width: none;
  }
}

.cta-section__description {
  @media (min-width: $bp-640) {
    --description--left-align_margin-bottom: #{$spacing-16};
  }
}
