.cta-section {
  //* temporary
  @media (min-width: $bp-640) {
    padding: $spacing-32 $spacing-32 372px;
  }
  @media (min-width: $bp-768) {
    padding: $spacing-32 $spacing-32 500px;
  }
  @media (min-width: $bp-1024) {
    padding: $spacing-10xl;
  }
  @media (min-width: $bp-1440) {
    padding: $spacing-11xl;
  }
  //* /temporary

  overflow: hidden;
  position: relative;
  padding-bottom: 372px;

  &__header {
    @media (min-width: $bp-640) {
      margin-bottom: $spacing-12;
    }
  }

  &__heading-secondary,
  &__description {
    @media (min-width: $bp-1024) {
      max-width: 570px;
    }
  }

  &__description {
    @media (min-width: $bp-640) {
      --description--left-align_margin-bottom: #{$spacing-16};
    }
  }

  &__image {
    @media (min-width: $bp-640) {
      left: $spacing-32;
    }
    @media (min-width: $bp-1024) {
      left: 65vw;
      max-height: calc(100% - $spacing-40);
    }
    @media (min-width: $bp-1440) {
      left: 51vw;
    }

    position: absolute;
    bottom: 0;
    left: $spacing-14;
    max-width: none;
  }
}
