.footer {
  --policy-horizontal-line_opacity: 0;

  @media (min-width: $bp-768) {
    --policy-horizontal-line_opacity: 1;
  }

  &__top {
    @media (min-width: $bp-1024) {
      flex-direction: row;
      gap: $spacing-40;
      margin-bottom: $spacing-48;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-24;
    margin-bottom: $spacing-32;
  }

  &__company-info {
    @media (min-width: $bp-1024) {
      gap: $spacing-16;
    }

    display: flex;
    flex-direction: column;
    gap: $spacing-6;
  }

  &__company-mission {
    max-width: 195px;
    font-size: $text-lg;
    color: var(--light-text);
  }

  &__links {
    @media (min-width: $bp-768) {
      grid-template-columns: none;
      grid-auto-flow: column;
      column-gap: normal;
    }
    @media (min-width: $bp-1024) {
      flex-basis: 792px;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: $spacing-16;
    column-gap: $spacing-12;
  }

  &__bottom {
    @media (min-width: $bp-1024) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-24;

    &::before {
      @include horizontal-line($color-primary-200, $y: -$spacing-16);
    }
  }

  &__policies {
    @media (min-width: $bp-768) {
      flex-direction: row;
      gap: $spacing-36;
    }

    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }

  &__policy {
    position: relative;

    &:not(:last-child)::after {
      @include vertical-line(
        $color-secondary-500,
        $width: 2px,
        $height: 60%,
        $x: $spacing-16,
        $opacity: var(--policy-horizontal-line_opacity)
      );
    }
  }

  &__policy-link {
    font-size: $text-lg;
    font-weight: $text-semibold;
  }
}

.links {
}

.links-heading {
  margin-bottom: $spacing-16;
  font-size: $text-xl;
  font-weight: $text-semibold;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
}
