.footer {
  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__policies {
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }
}

.links {
}

.links-heading {
  margin-bottom: $spacing-16;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
}
