.footer {
  &__top {
    @media (min-width: $bp-640) {
      flex-direction: row;
      margin-bottom: $spacing-48;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-24;
    margin-bottom: $spacing-32;
  }

  &__company-info {
    @media (min-width: $bp-640) {
      gap: $spacing-16;
    }

    display: flex;
    flex-direction: column;
    gap: $spacing-6;
  }

  &__company-mission {
    max-width: 195px;
    font-size: $text-lg;
    color: var(--light-text);
  }

  &__links {
    @media (min-width: $bp-640) {
      grid-template-columns: none;
      grid-auto-flow: column;
      column-gap: normal;
      flex-basis: 700px;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: $spacing-16;
    column-gap: $spacing-12;
  }

  &__bottom {
    @media (min-width: $bp-640) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacing-24;

    &::before {
      @include horizontal-line($color-primary-200, $y: -$spacing-16);
    }
  }

  &__policies {
    @media (min-width: $bp-640) {
      flex-direction: row;
      gap: $spacing-36;
    }

    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }

  &__policy {
    font-size: $text-lg;
    font-weight: $text-semibold;
  }
}

.links {
}

.links-heading {
  margin-bottom: $spacing-16;
  font-size: $text-xl;
  font-weight: $text-semibold;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-12;
}
