.header {
  background-color: var(--dark-bg);
  padding: 0 var(--home-page_padding-x);
}

.nav {
  --hamburger-button_display: flex;
  --brand_flex: 0 1 auto;
  --main_position: absolute;
  --main_transform: translateY(100%);
  --main_display: none;
  --main_align-items: normal;
  --main_justify-content: space-evenly;
  --main_gap: 0;
  --main_flex: 0 1 auto;
  --main_padding: #{$spacing-24} 0;
  --menu_position: static;
  --menu_top: 50%;
  --menu_left: 50%;
  --menu_transform: none;
  --menu_flex-direction: column;
  --menu_gap: #{$spacing-10};
  --actions_flex-direction: column;
  --actions_gap: #{$spacing-16};
  --link_font-size: #{$text-xl};

  @media (min-width: $bp-1024) {
    --hamburger-button_display: none;
    --brand_flex: 0 1 27%;
    --main_position: static;
    --main_transform: none;
    --main_display: flex;
    --main_align-items: center;
    --main_justify-content: space-between;
    --main_gap: #{$spacing-16};
    --main_flex: 1 0 auto;
    --main_padding: 0;
    --menu_flex-direction: row;
    --actions_flex-direction: row;
    --actions_gap: #{$spacing-12};
    --link_font-size: #{$text-lg};
  }
  @media (min-width: $bp-1280) {
    --menu_gap: #{$spacing-20};
  }
  @media (min-width: $bp-1440) {
    --main_justify-content: end;
    --menu_position: absolute;
    --menu_transform: translate(-50%, -50%);
  }

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  border-bottom: 1px solid rgba($color: $color-primary-0, $alpha: 0.16);

  &__hamburger-button {
    display: var(--hamburger-button_display);
  }

  &__brand {
    flex: var(--brand_flex);
    color: $color-primary-0;
  }

  &__brand-logo {
    fill: $color-primary-0;
  }

  &__main {
    position: var(--main_position);
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -1px;
    transform: var(--main_transform);
    display: var(--main_display);
    justify-content: var(--main_justify-content);
    align-items: var(--main_align-items);
    gap: var(--main_gap);
    flex: var(--main_flex);
    padding: var(--main_padding);
    background-color: inherit;

    &--open {
      display: flex;
    }
  }

  &__menu {
    position: var(--menu_position);
    top: var(--menu_top);
    left: var(--menu_left);
    transform: var(--menu_transform);
    display: flex;
    flex-direction: var(--menu_flex-direction);
    gap: var(--menu_gap);

    &-item-link {
      color: $color-primary-0;

      &:hover {
        color: $color-primary-200;
      }
    }
  }

  &__actions {
    @include center-flex;
    flex-direction: var(--actions_flex-direction);
    gap: var(--actions_gap);
  }

  &__login-link {
    font-weight: $text-medium;
    color: $color-secondary-200;

    &:hover {
      color: $color-secondary-300;
    }
  }

  &__link {
    font-size: var(--link_font-size);
  }
}
