.hero {
  --container-margin-bottom: 56px;
  --heading-margin-bottom: #{$spacing-md};
  --body-padding-top: #{$spacing-7xl};
  --body-margin-bottom: #{$spacing-5xl};
  --image-max-height: 15vh;

  @media (min-width: $breakpoint) {
    text-align: center;

    --container-margin-bottom: 80px;
    --heading-margin-bottom: #{$spacing-4xl};
    --body-padding-top: 120px;
    --body-margin-bottom: #{$spacing-6xl};
    --image-max-height: calc(15vh + 15vw);
  }

  position: relative;
  padding: var(--body-padding-top) 28px 0;
  overflow-y: hidden;

  &__container {
    max-width: 800px;
    margin: 0 auto var(--container-margin-bottom);
  }

  &__heading {
    margin-bottom: var(--heading-margin-bottom);
  }

  &__body {
    margin-bottom: var(--body-margin-bottom);
  }

  &__button-demo {
  }
  &__button-pricing {
  }

  &__image {
    max-height: var(--image-max-height);
  }
}
