.hero {
  --heading-margin-bottom: #{$spacing-md};
  --body-padding-top: #{$spacing-7xl};
  --body-padding-bottom: 25vh;
  --body-margin-bottom: #{$spacing-5xl};
  --buttonDemo-margin-bottom: #{$spacing-4xl};
  --image-translate-y: 35%;

  @media (min-width: $breakpoint) {
    text-align: center;

    --heading-margin-bottom: #{$spacing-4xl};
    --body-padding-top: 120px;
    --body-padding-bottom: calc(15vh + 20vw);
    --body-margin-bottom: #{$spacing-6xl};
    --buttonDemo-margin-bottom: 0;
    --image-translate-y: 55%;
  }

  position: relative;
  padding: var(--body-padding-top) 28px var(--body-padding-bottom);
  overflow-y: hidden;

  &__container {
    max-width: 800px;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: var(--heading-margin-bottom);
  }

  &__body {
    margin-bottom: var(--body-margin-bottom);
  }

  &__button-demo {
    margin-bottom: var(--buttonDemo-margin-bottom);
  }
  &__button-pricing {
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-left: inherit;
    padding-right: inherit;
    transform: translate(-50%, var(--image-translate-y));
  }
}
