.how-it-works-section {
  @media (min-width: $bp-640) {
    text-align: center;
  }

  &__description {
    // TODO think if there's a better way to handle this description's unique margin-bottom on mobile
    --description_margin-bottom: #{$spacing-36};

    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}

.how-it-works-list {
  --howItWorksList-margin: 0 auto #{$spacing-8xl};
  --howItWorksList-flex-direction: column;

  @media (min-width: $breakpoint) {
    --howItWorksList-margin: 0 auto #{$spacing-9xl};
  }
  @media (min-width: $breakpoint-md) {
    --howItWorksList-flex-direction: row;
  }

  display: flex;
  flex-direction: var(--howItWorksList-flex-direction);
  align-items: center;
  justify-content: space-between;
  gap: $spacing-10xl;

  max-width: 945px;
  margin: var(--howItWorksList-margin);
}
