.how-it-works-section {
  --description-margin: 0 auto #{$spacing-36};

  @media (min-width: $breakpoint) {
    --description-margin: 0 auto #{$spacing-9xl};

    text-align: center;
  }

  &__description {
    max-width: 650px;
    margin: var(--description-margin);
  }
}

.how-it-works-list {
  --howItWorksList-margin: 0 auto #{$spacing-8xl};
  --howItWorksList-flex-direction: column;

  @media (min-width: $breakpoint) {
    --howItWorksList-margin: 0 auto #{$spacing-9xl};
  }
  @media (min-width: $breakpoint-md) {
    --howItWorksList-flex-direction: row;
  }

  display: flex;
  flex-direction: var(--howItWorksList-flex-direction);
  align-items: center;
  justify-content: space-between;
  gap: $spacing-10xl;

  max-width: 945px;
  margin: var(--howItWorksList-margin);
}
