.pricing-section {
  --toggle-switch-container_margin-bottom: #{$spacing-48};

  @media (min-width: $bp-640) {
    --toggle-switch-container_margin-bottom: #{$spacing-42};
  }
  @media (min-width: $bp-768) {
  }
  @media (min-width: $bp-1024) {
  }
  @media (min-width: $bp-1440) {
  }

  &__heading-secondary {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__main {
  }

  &__toggle-switch-container {
    position: relative;
    margin: 0 auto var(--toggle-switch-container_margin-bottom);

    &::before {
      content: 'Save 65%';
      position: absolute;
      bottom: -24px;
      right: 63px;
      transform: translateY(100%);

      padding: $spacing-2 $spacing-6;
      border-radius: 30px;

      font-size: $text-sm;
      font-weight: $text-medium;

      background-color: $color-primary-100;
      color: $color-secondary-700;
    }
    &::after {
      content: url('../img/arrow.svg');
      position: absolute;
      bottom: -10px;
      right: 0;
      transform: translateY(100%);
    }
  }
}

.pricings-list {
  --pricings-list_flex-direction: column;
  --pricings-list_gap: #{$spacing-16};

  @include center-flex;
  flex-direction: var(--pricings-list_flex-direction);
  gap: var(--pricings-list_gap);

  @media (min-width: $bp-640) {
  }
  @media (min-width: $bp-768) {
  }
  @media (min-width: $bp-1024) {
  }
  @media (min-width: $bp-1440) {
    --pricings-list_flex-direction: row;
    --pricings-list_gap: #{$spacing-12};
  }
}
