*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

//* temporary button element reset
button {
  all: unset; /* Reset all inherited and non-inherited properties */
  display: inline-block; /* Ensure it behaves like a block-level element inside inline context */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  border: none; /* Remove border */
  background: none; /* Remove background */
  font-family: inherit; /* Inherit font family from parent */
  font-size: inherit; /* Inherit font size from parent */
  color: inherit; /* Inherit color from parent */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove text decoration */
  cursor: pointer; /* Ensure the cursor indicates the button is clickable */
  outline: none; /* Remove default outline */
  -webkit-appearance: none; /* Remove default WebKit appearance */
  -moz-appearance: none; /* Remove default Mozilla appearance */
  appearance: none; /* Remove default appearance for all browsers */
}
