.success-stories {
  &__header {
    max-width: 680px;
  }

  &__main {
    display: flex;
    flex-direction: column;

    @media (min-width: $bp-768) {
      flex-direction: row;
      gap: $spacing-8xl;
    }
    @media (min-width: $breakpoint-md) {
      max-height: 434px;
      gap: $spacing-10xl;
    }
  }

  &__heading-tertiary {
    margin-bottom: $spacing-3;

    @media (min-width: $breakpoint) {
      margin-bottom: $spacing-md;
    }
  }

  &__heading-secondary {
    margin-bottom: $spacing-5xl;

    @media (min-width: $breakpoint) {
      margin-bottom: $spacing-9xl;
    }
  }

  &__image-container {
    flex: 1;
    text-align: right;
  }

  &__image {
    max-height: 100%;
  }
}

.advantages {
  margin-bottom: $spacing-9xl;

  @media (min-width: $bp-768) {
    margin-bottom: 0;
    flex-basis: 380px;
  }
  @media (min-width: $breakpoint-md) {
    flex-basis: min(50%, 540px);
  }

  &__toggle-with-buttons {
    margin-bottom: $spacing-5xl;

    @media (min-width: $breakpoint) {
      margin-bottom: $spacing-7xl;
    }
  }

  &__heading {
    margin-bottom: $spacing-5xl;

    font-size: $text-base;
    font-weight: $text-bold;
    color: $color-secondary-700;

    @media (min-width: $breakpoint) {
      font-size: $text-2xl;
    }
  }

  &__list {
    font-size: $text-xs;
    font-weight: $text-medium;
    color: $color-secondary-700;

    @media (min-width: $breakpoint) {
      font-size: $text-lg;
    }
  }

  &__list-item {
    display: flex;
    gap: $spacing-md;

    &:not(:last-child) {
      margin-bottom: $spacing-5xl;
    }

    &::before {
      @include icon('../img/icon/tick-circle.svg');
    }
  }
}
