.success-stories {
  --main-flex-direction: column;
  --main-gap: 0;
  --main-max-height: auto;
  --header_margin-bottom: #{$spacing-16};

  @media (min-width: $bp-768) {
    --main-flex-direction: row;
    --main-gap: #{$spacing-8xl};
    --header_margin-bottom: #{$spacing-32};
  }
  @media (min-width: $bp-1024) {
    --main-gap: #{$spacing-10xl};
    --main-max-height: 434px;
  }

  &__header {
    max-width: 680px;
    margin-bottom: var(--header_margin-bottom);
  }

  &__main {
    display: flex;
    flex-direction: var(--main-flex-direction);
    gap: var(--main-gap);

    max-height: var(--main-max-height);
  }

  &__image-container {
    flex: 1;
    text-align: right;
  }

  &__image {
    max-height: 100%;
  }
}

.advantages {
  --advantages-margin-bottom: #{$spacing-9xl};
  --advantages-flex-basis: auto;
  --toggleWithButtons-margin-bottom: #{$spacing-5xl};
  --heading-font-size: #{$text-base};
  --list-font-size: #{$text-xs};

  @media (min-width: $breakpoint) {
    --toggleWithButtons-margin-bottom: #{$spacing-7xl};
    --heading-font-size: #{$text-2xl};
    --list-font-size: #{$text-lg};
  }
  @media (min-width: $bp-768) {
    --advantages-margin-bottom: 0;
    --advantages-flex-basis: 380px;
  }
  @media (min-width: $breakpoint-md) {
    --advantages-flex-basis: min(50%, 540px);
  }

  flex-basis: var(--advantages-flex-basis);
  margin-bottom: var(--advantages-margin-bottom);

  &__toggle-with-buttons {
    margin-bottom: var(--toggleWithButtons-margin-bottom);
  }

  &__heading {
    margin-bottom: $spacing-5xl;

    font-size: var(--heading-font-size);
    font-weight: $text-bold;
    color: $color-secondary-700;
  }

  &__list {
    font-size: var(--list-font-size);
    font-weight: $text-medium;
    color: $color-secondary-700;
  }

  &__list-item {
    display: flex;
    gap: $spacing-md;

    &:not(:last-child) {
      margin-bottom: $spacing-5xl;
    }

    &::before {
      @include icon('../img/icon/tick-circle.svg');
    }

    &--disadvantage::before {
      @include icon('../img/icon/close-circle--red.svg');
    }
  }
}
