.testimonials-section {
  --header_text-align: initial;
  --header_margin-bottom: #{$spacing-md};

  --description_text-align: var(--header_text-align);
  --description_margin-bottom: #{$spacing-5xl};

  --carousel-buttons-container__display: none;

  @media (min-width: $bp-640) {
    --header_text-align: center;
    --header_margin-bottom: #{$spacing-4xl};

    --description_margin-bottom: #{$spacing-9xl};
  }
  @media (min-width: $bp-768) {
  }
  @media (min-width: $bp-1024) {
    --carousel-buttons-container__display: flex;
  }

  &__header {
    text-align: var(--header_text-align);
    margin-bottom: var(--header_margin-bottom);
  }

  &__main {
  }

  &__description {
    text-align: var(--description_text-align);
    max-width: 580px;
    margin: 0 auto var(--description_margin-bottom);
  }

  &__carousel-buttons-container {
    display: var(--carousel-buttons-container__display);
  }
}

.testimonials-list {
  --testimonials-flex-direction: column;
  --testimonials-gap: #{$spacing-5xl};
  --testimonials-max-width: auto;
  --testimonials-visible-slides: 1;

  @media (min-width: $breakpoint) {
  }
  @media (min-width: $bp-768) {
  }
  @media (min-width: $bp-1024) {
    --testimonials-flex-direction: row;
    --testimonials-gap: #{$spacing-4xl};
    --testimonials-visible-slides: 2;

    margin-bottom: $spacing-9xl;
  }
  @media (min-width: $bp-1440) {
    --testimonials-visible-slides: 3;
  }

  display: flex;
  flex-direction: var(--testimonials-flex-direction);
  gap: var(--testimonials-gap);
  align-items: center;
  max-width: calc(
    ($testimonialCard-max-width + var(--testimonials-gap)) *
      var(--testimonials-visible-slides) - var(--testimonials-gap)
  );
}
